// ----------- variable ---------------//
// color
$danger-color : #dc3545;
$primary-color: #259adf;
$white-color  : #fff;
$light-color  : #f8f9fa;
$dark-color   : #212529;
$m-text-color : #333;

// size
$f-base: 16px;


// radius
$rd-0: 0;
$rd-1: .15rem;
$rd-2: .25rem;
$rd-3: .5rem;
$rd-4: .75rem;
// ----------- variable ---------------//